<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet"  href="/css/styles.css" >
    <script src="/js/app.js" charset="utf-8"></script>
  </head>
  <body>
    {{> header}}

    <h4>error 404 file not found</h4>
    <img class="error404" src="/img/FreeHand-Los-Angeles-003.jpg" alt="404 error">

    {{> footer}}
  </body>
</html>
